#{extends 'main.html' /}
#{set title:'Cadastro para postagem' /}

<h1>Cadastrar Nova Postagem</h1>

<form action="@{Postagens.salvar}" method="post">

<div class="mb-3">
<label class = "form-label">Titulo:</label>
<input class = "form-control" type = "text" name = "p.titulo" />
</div>

<div class="mb-3">
<label class = "form-label">Conteudo:</label>
<input class = "form-control" type = "text" name = "p.conteudo" />
</div>

<div class="mb-3">
<label class = "form-label">Autor:</label>
<input class = "form-control" type = "text" name = "p.autor" />
</div>

<div class="mb-3">
<label class = "form-label">Data:</label>
<input class = "form-control" type = "date" name = "p.data" />
</div>

<input class = "btn btn-primary" type = "submit" />

</form>